
.boxrewards {
    font-family: 'Roboto', sans-serif;
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 25% 0 25%;
    h1 {
        font-size: 28px;
        margin-top: 110px;
        margin-bottom: 101px;
        border-top: solid 1px $border;
        padding-top: 64px;
    }
}
.cupomtext {
    border-bottom: solid 1px $border;
    padding-bottom: 159px;

    h2 {
        font-size: 25px;
        border: solid 1px $border;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        border-radius: 9px;
        margin-top: 30px;
        
        button {
            color:$witefont ;
            font-size: 20px;
            width: 302px;
            height: 45px;
            border-radius: 8px;
            background-color: $greenbutton;
            border: none;
            margin: 9px 12px 9px 0 ;
            cursor: pointer;
        }
    }
}
.cupombottom {
     margin-top: 40px;
     line-height: 30px ;
}