@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
//font-family: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
//font-family: 'Roboto', sans-serif;



$backgroundblue: #A9D3EE;
$backgroundwite: #FFFFFF;
$greybackground:#ECECEC;
$softbackgroundblue:#8596A5;
$blackfont:#000000;
$witefont: #FFFFFF;
$bluebutton:#2C3D72;
$border: #C8C9C8;
$bordergrey: #CFD1D4;
$greenbutton: #76D038;
$backgroundheader: #8C8D91;
$backserch: #BCBDBF;
$overlayblue: #00437D;
$borderoverlay: #707070;







